* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  /* background-image: url(./images/cute-bg.jpg); */
  background: linear-gradient(rgb(191, 236, 255, 0.5), rgb(191, 236, 255, 0.5)),
    url(./images/cute-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
  margin-top: 100px;
}

.add-item {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fddbbb;
  margin-bottom: 10px;
}

.input-box {
  width: 290px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  border: #fddbbb;
  background-color: #fff6e3;
  outline-style: none;
  font: inherit;
}

.add-button {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #cdc1ff;
  box-shadow: inset 2px 2px #ffccea;
}

.todo-list-container {
  background-color: #fff9bf;
  width: 400px;
  height: 430px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.add-button {
  cursor: pointer;
  transition: all 0.3;
}

.add-button:hover {
  background-color: #cdc9ff;
  transition: all 0.5s;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 1.2rem;
}

.box-img {
  background-image: url(./images/unchecked-box.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.bin-img {
  width: 20px;
  height: 20px;
}

.hidden {
  visibility: hidden;
}

.box-and-item-container {
  display: flex;
  gap: 0.5rem;
}

.item-container {
  display: flex;
  justify-content: space-between;
  background-color: #cdc1ff;
  margin-bottom: 0.5rem;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 2px 2px #ffccea;
  cursor: pointer;
}

.item-container:hover {
  background-color: #cdc9ff;
  transition: all 0.5s;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
